body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: white;
    font-family: monospace;
    
    display: flex;       
    flex-direction: row; 
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    flex-grow: 1;
    height: 100vh;
    z-index: 1;
}


#uiContainer {
    position: relative;
    z-index: 2;

    width: 300px;     
    min-width: 300px; 
    height: 100vh;

    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 10px; 
    box-sizing: border-box; 

    background-color: #1a1a1a;
    border-left: 2px solid #333; 
    
    opacity: 1; 
    transform: none; 
    pointer-events: auto; 
    transition: none !important;
    
    overflow-y: auto;
}

body:has(.ui-hidden) #uiToggle {
    right: 10px;
}

.ui-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; 
    overflow-y: auto;
    pointer-events: auto; 
    scrollbar-width: none; 
}
.ui-col::-webkit-scrollbar { 
    display: none; 
}

.ui-group {
    background: rgba(0, 0, 0, 0.85);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ui-group-title {
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    margin-bottom: 5px;
    border-bottom: 1px solid #444;
}

.gman-widget-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    font-size: 10px;
}

.gman-widget-label {
    width: 90px; 
    min-width: 90px; 
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.gman-widget-value {
    width: 35px;
    text-align: right;
    margin-right: 5px;
    color: #0f0;
}

.gman-widget-slider {
    flex: 1;
    height: 5px;
    cursor: pointer;
}

input[type="color"] {
    border: none;
    width: 30px;
    height: 18px;
    padding: 0;
    background: none;
    cursor: pointer;
}

.gman-widget-select {
    width: 90px;
    font-size: 10px;
    background: #222;
    color: white;
    border: 1px solid #444;
    cursor: pointer;
}